body {
  background-color: black;
}
.glowthingy {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 0px;
  pointer-events: none;
  box-shadow: 0 -20px 200px 50px rgba(0, 255, 0, 0.5);
}
